* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}


section {
    color: brown;
    margin: 20px;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: solid 3px black;
    padding: 5px;
    width: 90vw;
}

li {
    margin: 10px;
    list-style: none;
}

a:link {
    color: darkslategray;
}

a:hover {
    color: darkred;
}

a:visited {
    color: purple;
}

a:active {
    color: lightslategray;
}

p {
    text-align: left;
}